.list {
  display: flex;
  padding: 0 1vw;
}

.titleWidth {
  width: 40%;
  text-align: left;
}

.qtyWidth {
  width: 10%;
  text-align: center;
}

.skillsWidth {
  width: 20%;
}

.ratingWidth {
  width: 10%;
}
